body {
    margin-left: auto;
    margin-right: auto;
    width: 300px
}

#container {   
    color: blue;
    width: 300px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 30px;
    font-family: Circe;
    font-weight: bold;
}

#calculate{
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: 600;
}

#bill_amount {
    border-radius: 10px;
}

#people_number {
    border-radius: 10px;
}

#selector {
    
}
